<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.ProItemPictureMapper">

    <resultMap type="ProItemPicture" id="ProItemPictureResult">
        <result property="id" column="id"/>
        <result property="itemId" column="item_id"/>
        <result property="picUrl" column="pic_url"/>
        <result property="picType" column="pic_type"/>
        <result property="picSort" column="pic_sort"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>


</mapper>