<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.product.mapper.ProItemMapper">

    <resultMap type="ProItem" id="ProItemResult">
        <result property="id" column="id"/>
        <result property="proName" column="pro_name"/>
        <result property="price" column="price"/>
        <result property="description" column="description"/>
        <result property="sku" column="sku"/>
        <result property="coverImage" column="cover_image"/>
        <result property="publishFlag" column="publish_flag"/>
        <result property="publishTime" column="publish_time"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>