<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RsaSecurityMapper">

    <resultMap type="com.ruoyi.common.core.domain.RsaSecurity" id="RsaSecurityResult">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="path" column="path"/>
        <result property="inDecode" column="in_decode"/>
        <result property="outEncode" column="out_encode"/>
        <result property="publicKey" column="public_key"/>
        <result property="privateKey" column="private_key"/>
        <result property="method" column="method"/>
        <result property="restricted" column="restricted"/>
    </resultMap>


</mapper>
