<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.fantang.mapper.FtCareStaffInfoDaoMapper">
    
    <resultMap type="FtCareStaffInfoDao" id="FtCareStaffInfoDaoResult">
        <result property="careStaffId"    column="care_staff_id"    />
        <result property="name"    column="name"    />
        <result property="corpName"    column="corp_name"    />
        <result property="departList"    column="depart_list"    />
        <result property="flag"    column="flag"    />
        <result property="photo"    column="photo"    />
        <result property="qrCode"    column="qr_code"    />
    </resultMap>


</mapper>