<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.fantang.mapper.FtCateringDaoMapper">

    <resultMap type="FtCateringDao" id="FtCateringDaoResult">
        <result property="id" column="id"/>
        <result property="patientId" column="patient_id"/>
        <result property="type" column="type"/>
        <result property="number" column="number"/>
        <result property="frequency" column="frequency"/>
        <result property="cateringUsage" column="catering_usage"/>
        <result property="isReplace" column="is_replace"/>
        <result property="flag" column="flag"/>
        <result property="updateAt" column="update_at"/>
        <result property="updateBy" column="update_by"/>
        <result property="createAt" column="create_at"/>
        <result property="createBy" column="create_by"/>
        <result property="cateringDescribe" column="catering_describe"/>
    </resultMap>

    <select id="listNewFormatter" resultType="com.ruoyi.system.fantang.domain.FtCateringDao">
        select a.*, b.name, b.bed_id, c.depart_name, b.hospital_id, d.name as food_name from ft_catering a
        LEFT JOIN ft_nutrition_food d ON d.id = a.number
        LEFT JOIN ft_patient b
        LEFT JOIN ft_depart c on b.depart_id = c.depart_id on a.patient_id = b.patient_id where b.off_flag = 0
        <if test="name != null and name !=''">and b.name = #{name}</if>
        <if test="bedId != null">and b.bed_id = #{bedId}</if>
        <if test="departId != null">and b.depart_id = #{departId}</if>
        <if test="hospitalId != null">and b.hospital_id = #{hospitalId}</if>
        <if test="flag != null">and a.flag = #{flag}</if>
    </select>

    <select id="getByIdNewFormatter" resultType="com.ruoyi.system.fantang.domain.FtCateringDao">
        select a.*, b.name, b.bed_id, b.patient_id, c.depart_name, b.hospital_id, c.depart_id
        from ft_catering a
                 LEFT JOIN ft_patient b
                 LEFT JOIN ft_depart c on b.depart_id = c.depart_id on a.patient_id = b.patient_id
        where b.off_flag = 0
          and a.id = #{id}
    </select>
</mapper>