<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.fantang.mapper.FtFoodDemandDaoMapper">
    
    <resultMap type="FtFoodDemandDao" id="FtFoodDemandDaoResult">
        <result property="id"    column="id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="foods"    column="foods"    />
        <result property="type"    column="type"    />
        <result property="createAt"    column="create_at"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateAt"    column="update_at"    />
        <result property="vegetables"    column="vegetables"    />
        <result property="updateBy"    column="update_by"    />
        <result property="meat"    column="meat"    />
        <result property="updateFrom"    column="update_from"    />
        <result property="rice"    column="rice"    />
        <result property="egg"    column="egg"    />
        <result property="orderInfo"    column="order_info"    />
        <result property="flag"    column="flag"    />
    </resultMap>


</mapper>