<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.fantang.mapper.FtPrepaymentDaoMapper">
    
    <resultMap type="FtPrepaymentDao" id="FtPrepaymentDaoResult">
        <result property="prepaymentId"    column="prepayment_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="collectAt"    column="collect_at"    />
        <result property="collectBy"    column="collect_by"    />
        <result property="settlementAt"    column="settlement_at"    />
        <result property="settlementBy"    column="settlement_by"    />
        <result property="settlementId"    column="settlement_id"    />
        <result property="settlementFlag"    column="settlement_flag"    />
        <result property="prepaid"    column="prepaid"    />
        <result property="prepaidAt"    column="prepaid_at"    />
    </resultMap>


</mapper>