<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.fantang.mapper.FtPrepaymentDaoMapper">
    
    <resultMap type="FtPrepaymentVo" id="FtPrepaymentDaoResult">
        <result property="prepaymentId"    column="prepayment_id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="collectAt"    column="collect_at"    />
        <result property="collectBy"    column="collect_by"    />
        <result property="settlementAt"    column="settlement_at"    />
        <result property="settlementBy"    column="settlement_by"    />
        <result property="settlementId"    column="settlement_id"    />
        <result property="settlementFlag"    column="settlement_flag"    />
        <result property="prepaid"    column="prepaid"    />
        <result property="prepaidAt"    column="prepaid_at"    />
        <result property="name"    column="name"    />
        <result property="bedId"    column="bed_Id"    />
        <result property="departName"    column="depart_name"    />
        <result property="hospitalId"    column="hospital_id"    />
        <result property="departCode"    column="depart_code"    />
    </resultMap>
    <select id="listAllPrepay" resultType="com.ruoyi.system.fantang.domain.FtPrepaymentVo">
        SELECT a.*,b.hospital_id, b.name, b.bed_id, c.depart_name
        from ft_prepayment a
        LEFT JOIN ft_patient b on a.patient_id = b.patient_id
        LEFT JOIN ft_depart c on b.depart_id = c.depart_id
        where a.settlement_flag = 1
        <if test="name != null and name !=''">and b.name = #{name}</if>
        <if test="hospitalId != null and hospitalId !=''">and b.hospital_id = #{hospitalId}</if>
        <if test="prepaidAt != null">and a.prepaid_at = #{prepaidAt}</if>
    </select>
    <select id="listNoPrepay" resultType="com.ruoyi.system.fantang.domain.FtPrepaymentVo">
        select a.patient_id , a.name,  a.hospital_id, a.bed_id, b.depart_name, b.depart_code
        from ft_patient a
        LEFT JOIN ft_depart b on a.depart_id = b.depart_id
        where a.patient_id not in (select patient_id from ft_prepayment )
        <if test="name != null and name !=''">and a.name = #{name}</if>
        <if test="hospitalId != null and hospitalId !=''">and a.hospital_id = #{hospitalId}</if>
    </select>
    <select id="listPrepay" resultType="com.ruoyi.system.fantang.domain.FtPrepaymentVo">
        SELECT a.*,b.hospital_id, b.name, b.bed_id, c.depart_name
        from ft_prepayment a
        LEFT JOIN ft_patient b on a.patient_id = b.patient_id
        LEFT JOIN ft_depart c on b.depart_id = c.depart_id
        where a.settlement_flag = 0
        <if test="name != null and name !=''">and b.name = #{name}</if>
        <if test="hospitalId != null and hospitalId !=''">and b.hospital_id = #{hospitalId}</if>
        <if test="prepaidAt != null">and to_days(a.prepaid_at) = to_days(#{prepaidAt})</if>
    </select>


</mapper>