<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.winery.mapper.WineryOrdersMapper">
    
    <resultMap type="WineryOrders" id="WineryOrdersResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsType"    column="goods_type"    />
        <result property="goodsSpec"    column="goods_spec"    />
        <result property="goodsFaceImg"    column="goods_face_img"    />
        <result property="goodsPrice"    column="goods_price"    />
        <result property="goodsCount"    column="goods_count"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="orderStatus"    column="order_status"    />
    </resultMap>


</mapper>