<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.winery.mapper.NewsContentMapper">
    
    <resultMap type="NewsContent" id="NewsContentResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="newsTitle"    column="news_title"    />
        <result property="newsBody"    column="news_body"    />
        <result property="newsImage"    column="news_image"    />
        <result property="newsType"    column="news_type"    />
        <result property="state"    column="state"    />
    </resultMap>


</mapper>